<ng-container *ngIf="isLink()">
    <a [routerLink]="getLink()">
        <ndc-dynamic
                [ndcDynamicComponent]="componentType"
                [ndcDynamicInputs]="{
                'field': field,
                'klass': klass,
                'record': record
            }"
        ></ndc-dynamic>
    </a>
</ng-container>
<ng-container *ngIf="!isLink()">
    <ndc-dynamic
            [ndcDynamicComponent]="componentType"
            [ndcDynamicInputs]="{
            'field': field,
            'klass': klass,
            'record': record
        }"
    ></ndc-dynamic>
</ng-container>
