<scrm-modal [closable]="true"
            [close]="closeButton"
            [title]="titleKey"
            bodyKlass="m-0 small-font"
            footerKlass="border-0"
            headerKlass="border-0"
            klass="record-list-modal">

    <div modal-body>

        <scrm-label *ngIf="!tableConfig" labelKey="LBL_CONFIG_NO_CONFIG"></scrm-label>

        <div *ngIf="tableConfig">
            <div class="container-fluid">
                <div class="row pb-3">
                    <div class="col">
                        <scrm-list-filter *ngIf="filterConfig" [config]="filterConfig"></scrm-list-filter>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <scrm-table [config]="tableConfig"></scrm-table>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="(loading$ | async) as loading">
                <scrm-loading-spinner *ngIf="loading" [overlay]="true"></scrm-loading-spinner>
            </ng-container>
        </div>
    </div>
</scrm-modal>
