<div class="accordion widget-panel mr-0 shadow-sm">
    <scrm-panel [title]="title" mode="none" bodyPadding="0">
        <span panel-header-button>
        </span>
        <div panel-body>
            <div *ngIf="displayContent"
                 class="widget collapse show open-close-container"
                 data-parent=".widget-panel"
                 [@widgetContentFade]="displayContent ? 'true' : 'false'">
                <ng-content select="[widget-body]"></ng-content>
            </div>
        </div>
    </scrm-panel>
</div>
