<ng-container *ngIf="!isConfigured()">
    <scrm-label labelKey="LBL_BAD_GROUP_FIELD_CONFIG"></scrm-label>
</ng-container>

<ng-container *ngIf="isConfigured()">
    <div class="d-flex {{getDirection()}} justify-content-start align-items-start field-group">

        <div *ngFor="let groupField of getFields()" class="field-group-item d-flex flex-column">

            <!-- LABEL -->
            <span *ngIf="groupField.labelKey && showLabel()" class="field-group-label pt-2 pr-1">
                <label><scrm-label [labelKey]="groupField.labelKey" [module]="getModule()"></scrm-label></label>
            </span>

            <!-- VALUE -->
            <span *ngIf="groupField.type" class="field-group-field pr-1">

                <scrm-dynamic-field [componentType]="getComponentType(groupField.type)"
                                    [field]="groupField"
                                    [klass]="klass"
                                    [mode]="mode"
                                    [record]="record"
                                    [type]="groupField.type">
                </scrm-dynamic-field>

            </span>
        </div>
    </div>
</ng-container>


