<div class="mt-2 mb-2 ml-1 mr-1">
    <div class="container">
        <div class="row">
            <div class="pipeline-chart col-xs">
                <scrm-dropdown-button *ngIf="false" [config]="getDropdownConfig()"></scrm-dropdown-button>
                <scrm-vertical-bar-chart *ngIf="type === 'bar' && dataSource"
                                         [dataSource]="dataSource"></scrm-vertical-bar-chart>
                <p *ngIf="!dataSource" class="lead text-center pt-3">Chart not found</p>
            </div>
            <div class="donut-chart col-xs" *ngIf="false">
                <div class="accordion">
                    <scrm-dropdown-button [config]="getTypeDropdownConfig()"></scrm-dropdown-button>
                </div>
            </div>
        </div>
    </div>
</div>