<!-- Start Record View Container Section -->

<div *ngIf="(vm$ | async) as vm"
     class="record-view-container view-container container-fluid pt-3">
    <div class="row">
        <div class="col-lg-9" [ngClass]="{ 'col-lg-12': !getDisplayWidgets() }">

            <div class="container-fluid pl-0 pr-0">

                <div class="row no-gutters" *ngIf="vm.recordMeta && vm.recordMeta.topWidget && vm.recordMeta.topWidget.type">
                    <div class="col pb-3">
                        <scrm-top-widget [type]="vm.recordMeta.topWidget.type"
                                         [context]="getViewContext()"
                                         [config]="vm.recordMeta.topWidget">
                        </scrm-top-widget>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col">
                        <scrm-record-content [dataSource]="getContentAdapter()"></scrm-record-content>
                    </div>
                </div>

                <div class="row no-gutters pt-4 pb-4">
                    <div class="col">
                        <scrm-subpanel-container [config]="getSubpanelsConfig()"></scrm-subpanel-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 record-widget-container pl-0" *ngIf="getDisplayWidgets()">
            <scrm-widget [title]="widgetTitle">
                <scrm-history-timeline-widget widget-body></scrm-history-timeline-widget>
            </scrm-widget>
        </div>

    </div>
</div>

<!-- End Record View Container Section -->
