<div [class]="klass">
    <div class="modal-header {{headerKlass}}">
        <div class="modal-title">
            <scrm-label *ngIf="titleKey" [labelKey]="titleKey"></scrm-label>
        </div>
        <scrm-close-button *ngIf="closable" [config]="close"></scrm-close-button>
    </div>

    <div class="modal-body {{bodyKlass}}">
        <ng-content select="[modal-body]"></ng-content>
    </div>

    <div class="modal-footer {{footerKlass}}">
        <ng-content select="[modal-footer]"></ng-content>
    </div>
</div>
