<div class="accordion widget-panel mr-0">
    <div [ngClass]="{'widget-header-closed': !displayContent}" class="widget-header">
        <h3>
            {{title}}
            <scrm-image class="sicon float-right widget-close-icon"
                        (click)="toggleWidgetContent()"
                        image="{{ toggleIcon }}">
            </scrm-image>
        </h3>
    </div>

    <div *ngIf="displayContent"
         class="widget collapse show open-close-container"
         data-parent=".widget-panel"
         [@widgetContentFade]="displayContent ? 'true' : 'false'">
        <ng-content select="[widget-body]"></ng-content>
    </div>
</div>
