a {
  color: $coral-pink;
}

a.clickable {
  color: $coral-pink;
  cursor: pointer;
}

a.clickable:hover {
  color: $coral-pink;
  text-decoration: underline;
}

.textarea {
  background: #ffffff
}

ul {
  list-style-type: square;
  padding-inline-start: 1em;
}

ul li::marker {
  color: $midnight-blue;
}
