<!-- Start Record View Section -->
<div class="record-view" *ngIf="(vm$ | async) as vm">
    <scrm-record-header></scrm-record-header>
    <scrm-status-bar></scrm-status-bar>
    <scrm-record-container></scrm-record-container>
    <div>
        TEST TEXT FIELD :
        <scrm-field [mode]="'detail'" [type]="'text'" [field]="{type: 'text', value: 'Example text'}"></scrm-field>
    </div>
    <div>
        TEST RELATE FIELD :
        <scrm-field [mode]="'detail'" [type]="'relate'" [field]="{type: 'relate', value: ''}"></scrm-field>
    </div>
</div>
<!-- End Record View Section -->
