<div class="bulk-action float-right">
    <button class="pagination-button" aria-label="Navigate to first page">
        <scrm-image class="sicon-2x pagination-icons" image="paginate_previous">
        </scrm-image>
    </button>
    <button class="pagination-button" aria-label="Previous page">
        <scrm-image class="sicon-2x pagination-icons" image="paginate_first">
        </scrm-image>
    </button>
    <span class="pagination-count"
          [ngClass]="{
            'hide-pagination-count': displayResponsiveTable
          }"
    >
      (1- 20 of 200)
    </span>
    <button class="pagination-button" aria-label="Next page">
        <scrm-image class="sicon-2x pagination-icons" image="paginate_last">
        </scrm-image>
    </button>
    <button class="pagination-button" aria-label="Navigate to last page">
        <scrm-image class="sicon-2x pagination-icons" image="paginate_next">
        </scrm-image>
    </button>
</div>