<ng-container *ngIf="(vm$ | async) as vm">
    <table cdk-table [dataSource]="config.dataSource"
           aria-describedby="table-body"
           class="list-view-table striped-table table">

        <ng-container cdkColumnDef="checkbox" *ngIf="vm.selection">

            <th cdk-header-cell scope="col" *cdkHeaderCellDef class="primary-table-header"></th>

            <td cdk-cell *cdkCellDef="let record">
                <label class="checkbox-container">
                    <input type="checkbox"
                           [checked]="(record['id'] && vm.selected[record['id']]) || allSelected(vm.selectionStatus) "
                           (change)="toggleSelection(record['id'])"
                           [disabled]="allSelected(vm.selectionStatus)"
                           aria-hidden="true">
                    <span class="checkmark"></span>
                </label>
            </td>

        </ng-container>

        <ng-container *ngFor="let column of vm.columns" [cdkColumnDef]="column.name">

            <th cdk-header-cell
                *cdkHeaderCellDef
                scope="col"
                class="primary-table-header">

                {{column.translatedLabel}}
                <scrm-sort-button *ngIf="config.sort$ && column.sortable"
                                  [state]="getFieldSort(column)">
                </scrm-sort-button>

            </th>

            <td cdk-cell *cdkCellDef="let record">
                <scrm-field [mode]="'list'"
                            [type]="column.type"
                            [field]="getField(column, record)"
                            [record]="record">
                </scrm-field>
            </td>

        </ng-container>

        <ng-container cdkColumnDef="line-actions" *ngIf="vm.lineActions && vm.lineActions.length">

            <th cdk-header-cell scope="col" *cdkHeaderCellDef class="primary-table-header"></th>

            <td cdk-cell *cdkCellDef="let record">
                <scrm-line-action-menu [lineActions]="vm.lineActions" [record]="record"></scrm-line-action-menu>
            </td>

        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="vm.displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: vm.displayedColumns;"></tr>

    </table>

    <div *ngIf="vm.records.length === 0">
        <p class="lead text-center pt-3">{{vm.language.appStrings.MSG_LIST_VIEW_NO_RESULTS_BASIC}}</p>
    </div>
</ng-container>
