<ng-container *ngIf="(vm$ | async) as vm">
    <table cdk-table [dataSource]="dataSource" aria-describedby="table-body" class="list-view-table table">
        <div id="table-body">ListView table body</div>

        <ng-container *ngFor="let column of vm.metadata.fields" [cdkColumnDef]="column.fieldname">
            <th cdk-header-cell scope="col" class="primary-table-header"
                *cdkHeaderCellDef>{{
              vm.language.appStrings[column.label] || column.label}}
            </th>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="vm.displayedColumns"></tr>
    </table>
</ng-container>
