<!-- Start of action bar section -->

<div class="global-action-bar row pb-2 pt-2 mr-0">
  <div class="col-6">
    <form novalidate class="global-search ng-untouched ng-pristine ng-valid">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-default search-button" type="submit" aria-label="Search">
            <svg-icon class="search-icon sicon" src="public/themes/suite8/images/search.svg"></svg-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col justify-content-right">
    <div class="action-group">
      <div class="action-alert dropdown">
        <button class="alerts-button dropdown-toggle" type="button" aria-label="Toggle Alerts">
          <svg-icon class="action-btn-icon" src="public/themes/suite8/images/alert.svg"></svg-icon>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <li class="alert-list-item">
            <h4>ASSIGNED TASK</h4>
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/alert.svg">
              </svg-icon>
              Create Wireframe
            </a>
          </li>
          <li class="alert-list-item">
            <h4>DUE DATE EXPIRED</h4>
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/alert.svg">
              </svg-icon>
              Call John Doe to discuss...
            </a>
          </li>
          <li class="alert-list-item">
            <h4>ASSIGNED LEAD</h4>
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/alert.svg">
              </svg-icon>
              John Doe
            </a>
          </li>
          <li class="alert-list-item">
            <h4>NEW CASE</h4>
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/alert.svg">
              </svg-icon>
              Johnston &amp; Co
            </a>
          </li>
          <li>
            <a class="action-view-all" href="#">
              View All >
            </a>
          </li>
        </div>
      </div>
      <div class="action-favourite dropdown">
        <button class="favourites-button dropdown-toggle" type="button" aria-label="Toggle Favourites">
          <svg-icon class="action-btn-icon" src="public/themes/suite8/images/star.svg"></svg-icon>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <li class="favourite-list-item">
            <h4>JOHN DOE</h4>
            <a href="redirect-to-the-record">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/star.svg">
              </svg-icon>
              This is a favourited record
            </a>
          </li>
          <li class="favourite-list-item">
            <h4>JOHNSTON & CO</h4>
            <a href="redirect-to-the-record">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/star.svg">
              </svg-icon>
              This is a favourited record
            </a>
          </li>
          <li class="favourite-list-item">
            <h4>CREATE WIREFRAME</h4>
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/star.svg">
              </svg-icon>
              This is a favourited record
            </a>
          </li>
          <li>
            <a class="action-view-all" href="#">
              View All >
            </a>
          </li>
        </div>
      </div>
      <div class="action-new dropdown">
        <button class="quickcreate-button dropdown-toggle" type="button" aria-label="Quick Create">
          NEW
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Accounts
            </a>
          </li>
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Contacts
            </a>
          </li>
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Leads
            </a>
          </li>
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Opportunities
            </a>
          </li>
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Quotes
            </a>
          </li>
          <li class="new-list-item">
            <a href="#">
              <svg-icon class="action-btn-icon" src="public/themes/suite8/images/plus.svg"></svg-icon>
              Contracts
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of action bar section -->