<ng-container *ngIf="(vm$ | async) as vm">

    <div class="sub-panel-banner">

        <scrm-image [image]="'eye'"></scrm-image>

        <span class="sub-panel-banner-text">
            {{vm.appStrings['LBL_SELECT_SUBPANEL_BANNER'] || ''}}
        </span>

        <scrm-image (click)="toggleSubPanels()"
                    [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseShowSubPanels"
                    class="float-right"
                    [image]="toggleIcon">
        </scrm-image>
    </div>

    <div id="collapseShowSubPanels" [ngbCollapse]="isCollapsed">

        <div class="sub-panel-banner-buttons">
            <div
                class="sub-panel-banner-button"
                *ngFor="let item of vm.subpanels | keyvalue"
                [ngClass]="{'sub-panel-banner-button-active': item.value.show === true}"
                (click)="showSubpanel(item.value)"
            >
                <div class="sub-panel-banner-button-icon">
                    <scrm-image [image]="item.value.getIcon()"></scrm-image>
                </div>

                <div class="sub-panel-banner-button-title">
                    {{item.value.getTitle()}}
                </div>

                <div class="sub-panel-banner-button-stats">
                    {{ getStatsValue() }}
                </div>
            </div>
        </div>
    </div>

    <div id="sub-panels">
        <ng-container *ngFor="let item of vm.subpanels | keyvalue">

            <scrm-subpanel class="sub-panel"
                           [store]="item.value"
                           [recordStore]="config.recordStore"
                           [maxColumns$]="maxColumns$"
                           *ngIf="item.value.show">
            </scrm-subpanel>

        </ng-container>
    </div>
</ng-container>
