<!-- Start List View Table Footer Section -->

<div class="list-view-tableactions table-footer">
  <div class="row">
      <scrm-bulk-action-menu *ngIf="selection && bulkActions"
                             [selectionSource]="selection"
                             [actionSource]="bulkActions">
      </scrm-bulk-action-menu>
      <div class="col mx-0 pl-0">
          <scrm-pagination *ngIf="pagination"
                           [state]="pagination">
          </scrm-pagination>
      </div>
  </div>
</div>

<!-- End List View Table Footer Section -->
