<span class="datetime-edit-containers">
    <span>
        <input ngbDatepicker
               [ngClass]="klass"
               [placeholder]="getDateFormat().toLowerCase()"
               (navigate)="date = $event.next"
               [class.is-invalid]="field.formControl.invalid && field.formControl.touched"
               [formControl]="field.formControl"
               #datepicker="ngbDatepicker">
        <scrm-button [config]="getOpenButton(datepicker)">
        </scrm-button>
    </span>
</span>
