<div class="input-group mb-3">
    <input ngbDatepicker
           [ngClass]="klass"
           [placement]="getPlacement()"
           [placeholder]="getDateFormat().toLowerCase()"
           [class.is-invalid]="field.formControl.invalid && field.formControl.touched"
           [formControl]="field.formControl"
           [startDate]="dateModel"
           (ngModelChange)="setModel($event)"
           #datepicker="ngbDatepicker">
    <span class="input-group-append">
        <scrm-button [config]="getOpenButton(datepicker)">
        </scrm-button>
    </span>
</div>
