<ngx-charts-line-chart *ngIf="results && results.length > 0"
                       class="line-chart"
                       (window:resize)="onResize()"
                       [animations]="false"
                       [results]="results"
                       [view]="view"
                       [scheme]="dataSource.scheme"
                       [gradient]="dataSource.gradient"
                       [xAxis]="dataSource.xAxis"
                       [yAxis]="dataSource.yAxis"
                       [legend]="dataSource.legend"
                       [xScaleMin]="dataSource.xScaleMin"
                       [xScaleMax]="dataSource.xScaleMax"
                       [xAxisTicks]="dataSource.xAxisTicks"
                       [showXAxisLabel]="dataSource.showXAxisLabel"
                       [showYAxisLabel]="dataSource.showYAxisLabel"
                       [xAxisLabel]="dataSource.xAxisLabel"
                       [legendPosition]="'below'"
                       [yAxisLabel]="dataSource.yAxisLabel">
</ngx-charts-line-chart>
