<tag-input [(ngModel)]="selectedValues"
           [onlyFromAutocomplete]="true"
           [clearOnBlur]="true"
           [displayBy]="'label'"
           [identifyBy]="'value'"
           [placeholder]="getPlaceholderLabel()"
           [secondaryPlaceholder]="getPlaceholderLabel()"
           maxItems="1"
           (onAdd)="onAdd($event)"
           (onRemove)="onRemove()">
    <tag-input-dropdown [displayBy]="'label'"
                        [identifyBy]="'value'"
                        [showDropdownIfEmpty]="true"
                        [keepOpen]="false"
                        [autocompleteItems]="this.options">
    </tag-input-dropdown>
</tag-input>
