<!-- Start List View Section -->
<div class="list-view" *ngIf="(vm$ | async) as vm">
    <div>
        TEST VARCHAR FIELD:
        <scrm-field [mode]="'list'" [type]="'varchar'" [value]="'MY FIELD VALUE'"></scrm-field>
    </div>
    <div>
        TEST INT FIELD:
        <scrm-field [mode]="'list'" [type]="'int'" [value]="'10'"></scrm-field>
    </div>
    <div>
        TEST FLOAT FIELD NO DECIMAL PLACES:
        <scrm-field [mode]="'list'" [type]="'float'" [value]="'1000'"></scrm-field>
    </div>
    <div>
        TEST FLOAT FIELD WITH DECIMAL PLACES:
        <scrm-field [mode]="'list'" [type]="'float'" [value]="'1000.501'"></scrm-field>
    </div>
    <div>
        TEST PHONE FIELD :
        <scrm-field [mode]="'list'" [type]="'phone'" [value]="'+44 1111 123456'"></scrm-field>
    </div>
    <div>
        TEST DATE FIELD:
        <scrm-field [mode]="'list'" [type]="'date'" [value]="'2020-05-15 23:11:01'"></scrm-field>
    </div>
    <div>
        TEST DATE TIME FIELD :
        <scrm-field [mode]="'list'" [type]="'datetime'" [value]="'2020-05-15 23:11:01'"></scrm-field>
    </div>
    <div>
        TEST URL FIELD :
        <scrm-field [mode]="'list'" [type]="'url'" [value]="'https://suitecrm.com/'"></scrm-field>
    </div>
    <scrm-list-header [module]="vm.appState.module"></scrm-list-header>
    <scrm-list-container-ui></scrm-list-container-ui>
</div>

<!-- End List View Section -->
