<ng-container>
    <scrm-panel [title]="store.getTitle()" mode="none" bodyPadding="0">
        <span class="subpanel-icon" panel-icon-area>
            <scrm-image [image]="store.getIcon()"></scrm-image>
        </span>
        <span panel-header-button>
            <scrm-button-group *ngIf="config$" [config$]="config$"></scrm-button-group>
        </span>
        <div panel-body>
            <scrm-table [config]="adapter.getTable()"></scrm-table>
        </div>
    </scrm-panel>
</ng-container>
