<div [class.overlay]="overlay">
    <div class="loading-spinner">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1 sk-cube-primary"></div>
            <div class="sk-cube sk-cube1 sk-cube-primary"></div>
            <div class="sk-cube sk-cube2 sk-cube-secondary"></div>
            <div class="sk-cube sk-cube3 sk-cube-secondary"></div>
            <div class="sk-cube sk-cube4 sk-cube-primary"></div>
            <div class="sk-cube sk-cube4 sk-cube-primary"></div>
            <div class="sk-cube sk-cube5 sk-cube-secondary"></div>
            <div class="sk-cube sk-cube6 sk-cube-secondary"></div>
            <div class="sk-cube sk-cube7 sk-cube-primary"></div>
            <div class="sk-cube sk-cube7 sk-cube-primary"></div>
            <div class="sk-cube sk-cube8 sk-cube-primary"></div>
            <div class="sk-cube sk-cube9 sk-cube-primary"></div>
            <div class="sk-cube sk-cube7 sk-cube-primary"></div>
            <div class="sk-cube sk-cube7 sk-cube-primary"></div>
            <div class="sk-cube sk-cube8 sk-cube-primary"></div>
            <div class="sk-cube sk-cube9 sk-cube-primary"></div>
        </div>
    </div>
</div>

