<ng-container *ngIf="(vm$ | async) as vm">
    <div class="record-view-header">
        <ng-container *ngIf="displayResponsiveTable">
            <div class="d-flex flex-nowrap">
                <div class="row">
                    <div class="col">
                        <div class="order-3">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="order-2">
                            <scrm-module-title class="record-view-title" [title]="moduleTitle"></scrm-module-title>
                            <div class="record-view-name">{{vm.record && vm.record.attributes['name']}}</div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="order-1">
                            <scrm-record-settings-menu></scrm-record-settings-menu>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template [ngIf]="!displayResponsiveTable">
            <div class="row mr-0">
                <div class="col-md-4">
                    <scrm-module-title class="record-view-title" [title]="moduleTitle"></scrm-module-title>
                    <div class="record-view-name">{{vm.record && vm.record.attributes['name']}}</div>
                </div>
                <div class="col-md-8">
                    <div class="row mr-1 ml-1">
                        <div class="w-100">
                        </div>
                        <div class="w-100">
                            <scrm-record-settings-menu></scrm-record-settings-menu>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-container>
