<div class="list-view-settings float-right">
    <button type="button" class="settings-button dropdown-toggle">
        Display As
    </button>
    <scrm-dropdown-button *ngIf="myFiltersButton" [config]="myFiltersButton"></scrm-dropdown-button>
    <scrm-button *ngIf="filterButton" [config]="filterButton"></scrm-button>
    <scrm-button *ngIf="clearButton" [config]="clearButton"></scrm-button>
    <scrm-columnchooser-ui></scrm-columnchooser-ui>
    <scrm-button *ngIf="chartsButton" [config]="chartsButton"></scrm-button>
</div>
