.install-view {
  padding-top: 4.5em;
  width: 100%;
  margin: 0;

  .install-view-header {

    .install-view-subtitle {
      text-transform: uppercase;
    }

    .install-header-buttons-col {
      align-self: flex-end;
    }
  }

  .install-view-container {
    .field-layout {
      .form-row {
        align-items: start !important;

        .field-html {
          max-height: 200px;
          overflow: auto;
        }
      }
    }
  }
}

.custom-modal .modal-dialog {
  max-width: 900px;
}

.alert-header {
  color: #721c24;
}

.alert-body {
  font-size: 0.85em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
