<!-- Start Record View Container Section -->

<div class="record-view-container container-fluid pt-1">
    <div class="row">
        <div class="col-lg-9" [ngClass]="{ 'col-lg-12': !getDisplayWidgets() }">

            <div class="container-fluid pl-0 pr-0">

                <div class="row no-gutters">
                    <div class="col">
                        <scrm-record-content [dataSource]="getContentAdapter()"></scrm-record-content>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col">
                        <scrm-subpanel></scrm-subpanel>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 record-widget-container pl-0" *ngIf="getDisplayWidgets()">
            <scrm-widget-ui [type]="type" [title]="widgetTitle"></scrm-widget-ui>
        </div>

    </div>
</div>

<!-- End Record View Container Section -->
