<div *ngIf="this.messageLabelKey" class="p-3 widget-message">
    <scrm-label [labelKey]="this.messageLabelKey"></scrm-label>
</div>

<div *ngIf="!this.messageLabelKey && (vm$| async) as vm"
     class="grid-widget d-flex flex-column d-flex justify-content-between">

    <ng-container *ngFor="let item of vm.layout">

        <div [title]="vm.tooltipTitleText"
             class="d-flex {{getJustify(item.justify)}} {{getAlign(item.align)}} {{getRowClass()}}">

            <div class="mw-100 {{getColClass()}}" *ngFor="let col of item.cols">

                <ng-container *ngIf="col.display !== 'hidden'">

                    <!-- ICON -->
                    <ng-container *ngIf="col.icon">
                        <div class="sub-panel-banner-button-icon">
                            <scrm-image [image]="col.icon" [klass]="col.iconClass"></scrm-image>
                        </div>
                    </ng-container>

                    <!-- VALUE -->
                    <ng-container *ngIf="col.statistic && (vm.statistics[col.statistic]) as statistics">

                        <div *ngIf="statistics.field" class="widget-entry-value {{getClass(col)}}">

                            <scrm-field [type]="statistics.field.type"
                                        [field]="statistics.field"
                                        mode="list">
                            </scrm-field>

                        </div>
                        <div *ngIf="statistics.loading && loading" class="widget-entry-loading">

                            <scrm-inline-loading-spinner></scrm-inline-loading-spinner>

                        </div>
                    </ng-container>

                    <!-- LABEL -->
                    <ng-container *ngIf="col.labelKey">

                        <div class="widget-entry-label text-truncate {{getClass(col)}}">

                            <scrm-label [labelKey]="col.labelKey" [module]="getContextModule()"></scrm-label>

                        </div>

                    </ng-container>

                    <!-- DYNAMIC LABEL -->
                    <ng-container *ngIf="col.dynamicLabel">

                        <div *ngIf="!loading" class="{{getClass(col)}}">

                            <scrm-dynamic-label [context]="getMessageContext()"
                                                [fields]="getMessageFields(vm.statistics)"
                                                [labelKey]="col.dynamicLabel">
                            </scrm-dynamic-label>

                        </div>

                        <div *ngIf="loading" class="widget-entry-loading">
                            <scrm-inline-loading-spinner></scrm-inline-loading-spinner>
                        </div>

                    </ng-container>

                    <!-- MISCONFIGURATION -->
                    <ng-container
                        *ngIf="col.statistic && !loading && (!vm.statistics[col.statistic].field || (vm.statistics[col.statistic].field && isEmptyFieldValue(vm.statistics[col.statistic].field.value)))">
                        <div class="widget-entry-value {{getSizeClass(col.size)}}">
                            -
                        </div>
                    </ng-container>

                </ng-container>

            </div>

        </div>
    </ng-container>
</div>
