<tag-input #tag
           (onAdd)="onAdd($event)"
           (onRemove)="onRemove()"
           [(ngModel)]="selectedValues"
           [class]="getInvalidClass()"
           [clearOnBlur]="true"
           [displayBy]="'label'"
           [identifyBy]="'value'"
           [inputClass]="getInvalidClass()"
           [onlyFromAutocomplete]="true"
           [placeholder]="getPlaceholderLabel()"
           [secondaryPlaceholder]="getPlaceholderLabel()"
           maxItems="1">
    <tag-input-dropdown [autocompleteItems]="this.options"
                        [displayBy]="'label'"
                        [identifyBy]="'value'"
                        [keepOpen]="false"
                        [showDropdownIfEmpty]="true">
    </tag-input-dropdown>
</tag-input>
