/* Panel Card header */
.panel-card .card-header {
  background-color: $cool-blue;
  padding: 0 .4rem;
  height: 2.3395rem;
  color: $white;
}

.panel-card.collapsed .card-header {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.card-header {
  border-bottom: 0;
}

.panel-card {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-title {
  font-size: .875rem;
}


.panel-buttons button {
  font-size: .75rem;
}
