/* Panel Card header */
.panel-card .card-header {
  background-color: $cool-blue;
  padding: 0.15rem 0.25rem 0.1rem 0.15rem;
  color: $white;
}

.card-header {
  border-bottom: 0;
}

.panel-card {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
