.record-view {
  padding-top: 7em;
  width: 100%;
  margin: 0;
}

.record-view-header {
  border-bottom: 0.03em solid transparent;
}

.record-view-title {
  color: $shell-grey;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em;
}

.record-view-name {
  color: $median-grey;
  font-size: 1.5em;
  margin-left: 1rem;
  word-wrap: break-word;
}

.record-view-actions {
  margin: 1em 0 0 0;
  text-align: end;
}
