<div ngbDropdown
     [autoClose]="autoClose"
     [placement]="getPlacement()"
     #dropDown="ngbDropdown"
     class="d-inline-block dropdown-button"
     [ngClass]="config.wrapperKlass">
    <button [ngClass]="config.klass" [disabled]="disabled" ngbDropdownToggle>{{ config.label }}
        <ng-content></ng-content>
    </button>
    <div ngbDropdownMenu>

        <ng-container *ngFor="let item of config.items">

            <ng-container *ngIf="item && !isDropdown(item)">
                <a ngbDropdownItem
                   [ngClass]="item && item.klass"
                   (click)="item && click(item.onClick, dropDown)">
                    <scrm-image *ngIf="item.icon" [image]="item.icon"></scrm-image>
                    {{item && item.label}}
                </a>
            </ng-container>

            <ng-container *ngIf="item && isDropdown(item)">
                <scrm-dropdown-submenu (item-clicked)="close(dropDown)" [item]="item"></scrm-dropdown-submenu>
            </ng-container>

        </ng-container>
    </div>
</div>
