<ng-container *ngIf="hasOnClick()">
    <a (click)="onClick()" class="clickable field-link">
        <ndc-dynamic
            [ndcDynamicComponent]="componentType"
            [ndcDynamicInputs]="{
                'mode': mode,
                'field': field,
                'klass': klass,
                'record': record
            }"
        ></ndc-dynamic>
    </a>
</ng-container>
<ng-container *ngIf="isLink() && !hasOnClick()">
    <a [routerLink]="getLink()" class="field-link">
        <ndc-dynamic
            [ndcDynamicComponent]="componentType"
            [ndcDynamicInputs]="{
                'mode': mode,
                'field': field,
                'klass': klass,
                'record': record
            }"
        ></ndc-dynamic>
    </a>
</ng-container>
<ng-container *ngIf="!isLink() && !hasOnClick()">
    <ndc-dynamic
        [ndcDynamicComponent]="componentType"
        [ndcDynamicInputs]="{
            'mode': mode,
            'field': field,
            'klass': klass,
            'record': record
        }"
    ></ndc-dynamic>
</ng-container>
<ng-container *ngIf="isEdit() && field.formControl && field.formControl.errors">
    <ng-container *ngIf="field.formControl.invalid && field.formControl.touched">
        <div *ngFor="let item of field.formControl.errors | keyvalue" class="invalid-feedback d-block">
            <scrm-dynamic-label [context]="getMessageContext(item.value, record)"
                                [fields]="{field: field}"
                                [labelKey]="getMessageLabelKey(item.value)">
            </scrm-dynamic-label>
        </div>
    </ng-container>
</ng-container>
