<ng-container *ngIf="(vm$ | async) as vm">
    <ngb-accordion class="sub-panel-banner" #accordion="ngbAccordion" activeIds="sub-panel-buttons">
        <ngb-panel id="sub-panel-buttons">
            <ng-template ngbPanelHeader>
                <a (click)="toggleSubPanels()" class="clickable">
                    <div class="d-flex align-items-center justify-content-between">
                        <scrm-label labelKey="LBL_SELECT_SUBPANEL_BANNER"></scrm-label>
                        <scrm-image
                            [attr.aria-expanded]="!isCollapsed"
                            [image]="toggleIcon"
                            aria-controls="collapseShowSubPanels"
                            class="float-right">
                        </scrm-image>
                    </div>
                </a>
            </ng-template>
            <ng-template ngbPanelContent>
                <div id="collapseShowSubPanels" [ngbCollapse]="isCollapsed">
                    <div class="row insight-panel">
                        <div class="col-xs-6 col-sm-3 col-md-2 insight-panel-card border-insight"
                             *ngFor="let item of vm.subpanels | keyvalue"
                             [ngClass]="{'sub-panel-banner-button-active': item.value.show === true}"
                             (click)="showSubpanel(item.value)">
                            <scrm-grid-widget [config]="getGridConfig(item.value)"></scrm-grid-widget>

                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div id="sub-panels">
        <ng-container *ngFor="let item of vm.subpanels | keyvalue">

            <scrm-subpanel class="sub-panel"
                           [store]="item.value"
                           [maxColumns$]="maxColumns$"
                           *ngIf="item.value.show">
            </scrm-subpanel>

        </ng-container>
    </div>

</ng-container>
