/**
 * Override primary button color and outline primary button
 */

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}

.btn-outline-primary:hover {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(118, 133, 143, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(118, 133, 143, 0.5);
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  color: $white;
  background-color: $bright-orange;
  border-color: $bright-orange;
}

.btn-primary:focus, .btn-primary.focus {
  color: $white;
  background-color: $primary;
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba(118, 133, 143, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $white;
  background-color: $bright-orange;
  border-color: $bright-orange;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(118, 133, 143, 0.5);
}
