/* --------- CHARTS SECTION ---------- */

.vertical-bar-chart .chart-legend .legend-labels li.legend-label {
    display: list-item;
}

.line-chart .chart-legend .legend-labels li.legend-label {
  display: list-item;
}

.line-chart .chart-legend {
  padding-bottom: 0.3em;
}

.vertical-bar-chart .chart-legend {
  padding-bottom: 0.3em;
}

.widget-background {
  background-color: white;
}

.widget .chart-legend .legend-wrap {
  width: calc(100% - 20px) ;
  margin-left: 10px;
}
