.field-layout .label-container,
.field-layout .label-container label {
  color: $midnight-blue;
}

.field-layout .field-column-bordered {
  border-right: $nepal-grey solid 0.0625rem;
}

.field-separation {
  height: 0.1em;
  color: darkgrey;
  background-image: linear-gradient(to right, grey 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 0.5em 0.1em;
  background-repeat: repeat-x;
}

.field-layout.detail textarea.form-control:disabled,
.field-layout.detail textarea.form-control[readonly] {
  background-color: transparent;
  padding: 0;
  border: none;
  color: inherit;
}
