.history-timeline-viewport {
  height: 45em;
}

.history-timeline .card {
  border: 0.17em solid;
}

.history-timeline .circle {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.17em solid;
}

.history-timeline .history-timeline-image svg {
  font-size: x-large;
}

.history-timeline .history-timeline-entry-title {
  font-size: small;
  font-weight: bold;
}

.history-timeline .connector {
  height: 0.5rem;
  width: 0.6rem;
  border-top: 0.17em solid;
  border-bottom: 0.17em solid;
}

.history-timeline .history-timeline-entry.entry-yellow {
  color: $dark-yellow;
  border-color: $dark-yellow;
}

.history-timeline .entry-yellow .card {
  background: $light-yellow;
}

.history-timeline .history-timeline-entry.entry-yellow svg {
  fill: $dark-yellow;
  stroke: $dark-yellow;
}

.history-timeline .history-timeline-entry.entry-purple {
  color: $dark-purple;
  border-color: $dark-purple;
}

.history-timeline .history-timeline-entry.entry-purple svg {
  fill: $dark-purple;
  stroke: $dark-purple;
}

.history-timeline .entry-purple .card {
  background: $light-purple;
}

.history-timeline .history-timeline-entry.entry-blue {
  color: $mild-blue;
  border-color: $mild-blue;
}

.history-timeline .history-timeline-entry.entry-blue svg {
  fill: $mild-blue;
  stroke: $mild-blue;
}

.history-timeline .entry-blue .card {
  background: $light-blue;
}
