/* --------- INPUT SECTION ---------- */

input {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $powdered-blue;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: $powdered-blue;
}

::placeholder {
  color: $powdered-blue;
}

@media all and (min-width: $breakpoint-medium) {
  .login-form {
    input {
      background-color: $white;
      padding: 0.6em 0 0.6em 2.5em;
      margin: 0.3em;
      border: 0.05em solid $powdered-blue;
      width: $breakpoint-xsmall;
      color: $shell-grey;
    }
  }
}

@media all and (max-width: $breakpoint-medium) {
  .login-form {
    input {
      background-color: $white;
      padding: 0.6em 0 0.6em 2.5em;
      margin: 0.3em;
      border: 0.05em solid $powdered-blue;
      width: 18em;
      color: $shell-grey;
    }
  }
}


.global-search {
  margin: 0.3em 1.5em;
}

@media all and (min-width: $breakpoint-small) {
  .global-search input,
  .global-search button {
    height: 2em;
  }
}

@media all and (max-width: $breakpoint-small) {
  .input-group {
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0;
    max-width: 90%;
  }

  .global-search input[type="text"] {
    font-size: 0.8em;
    height: 2.2em;
  }
}

.global-search .form-control {
  border: none;
  max-width: 15em;
}

.modal-label {
  display: block;
}

.modal-input {
  border: 0.05em solid $light-grey;
  padding: 0.5em 0.25em 0.5em 1em;
  margin: 0 1em 0 0;
  color: $midnight-grey;
  font-size: 0.8em;
  background-color: $white;
  width: 75%;
}

.modal-label {
  color: #534d64;
  font-size: 0.8em;
  font-weight: 500;
  margin: 1em 0 0.5em 0;
}

// Select styling

.select {
  position: relative;
  height: 2em;
  width: 75%;
  background-color: $white;
  font-size: 1em;

  &:after {
    content: "";
    position: absolute;
    top: 0.55em;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 0.55em 0.33em 0.55em 0.33em;
    border-color: $midnight-grey transparent transparent transparent;
    pointer-events: none;
  }

  &:before {
    width: 1.9em;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background-color: $white;
    content: "";
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: $white;
    }
  }

  select {
    font-size: 0.9em;
    // border: none;
    // box-shadow: none;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-right: 2.2em;
    padding-left: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid $light-grey;
    color: $midnight-grey;

    // Disable default styling on ff
    -moz-appearance: none;

    // Disable ugly ass outline on firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    // Disable default styling on webkit browsers
    -webkit-appearance: none;

    // Disable default arrow on IE 11+
    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: #63ffb4;
    }
  }
}

// IE 9 only
@media all and (min-width: 0 \0
) and (min-resolution: 0.001dpcm) {
  .select {
    select {
      padding-right: 0;
    }

    &:after,
    &:before {
      display: none;
    }
  }
}
