.sub-panel-banner {
  background-color: $salmon-pink;
  color: $midnight-blue;
  padding: 0.3125rem 0.625rem;
  margin-bottom: 0.625rem;
}

.sub-panel-banner-text {
  margin-left: 1em;
}

.sub-panel-banner-buttons {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.625rem;
}

.sub-panel-banner-button {
  padding: 0.3rem;
  border: $nepal-grey solid 0.0625rem;
  width: 7.5rem;
  min-height: 5.9rem;
  text-align: center;
  margin: 0.2em 0.2em;
  cursor: pointer;
  background-color: $white;
}

.sub-panel-banner-button:hover {
  background-color: $midnight-blue-transparent;
}

.sub-panel-banner-button-active {
  background-color: $midnight-blue-transparent;
}

.sub-panel-banner-button-icon svg {
  fill: $salmon-pink;
  stroke: $salmon-pink;
  font-size: 1.6em;
}

.sub-panel-banner-button-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.75em;
  line-height: 1.5;
  width: 100%;
  padding: 0.6em 0;
  color: $midnight-blue;
}

.sub-panel-banner-button-stats {
  text-transform: uppercase;
  font-size: 1.05em;
  font-weight: 900;
  width: 100%;
  color: $dull-orange;
}

.sub-panel div.card {
  margin-top: 0.625rem;
}

.widget-panel .panel-card .card-header {
  background-color: $midnight-blue;
}

.sub-panel .subpanel-icon svg {
  font-size: x-large;
  fill: white;
  stroke: white;
}
