
.tabs-layout .tab-content {
  background-color: $white;
}

.tabs-layout .nav-tabs {
  border-bottom: 1px solid $off-white;
}

.tabs-layout .nav-tabs .tab {
  padding-right: 0.1em;
}

.tabs-layout .nav-tabs .tab-link {
  background-color: $geyser-blue;
  color: $median-grey;
  font-size: 0.875rem;
  border: none;
  padding: .4512rem 1rem;
}

.tabs-layout .nav-tabs .tab-link.active {
  background-color: $midnight-blue;
  color: $white;
  border-color: $midnight-blue;
}

.nav-tabs .tab-link.active:hover {
  color: $geyser-blue;
}

