.widget {
  background-color: $white;
}

.widget-panel.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
}

.sub-panel .panel-card .card-header {
  background-color: $midnight-blue;
}

.widget-header {
  background-color: $midnight-blue;
  -webkit-border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  height: 2.8rem;

  h3 {
    color: $white;
    font-size: 0.875rem;
    margin: 0;
    padding: 0 .75rem;
    line-height: 1.5;
  }
}

.widget-close-icon {
  margin-right: 0.2em;
}

.text-yellow {
  color: $sandy-yellow;
}

.text-blue {
  color: $pale-blue;
}

.text-green {
  color: $wild-willow-green;
}

.text-red {
  color: $burnt-red;
}

.text-purple {
  color: $light-purple;
}

.text-dark {
  color: $black;
}

.text-grey {
  color: $midnight-grey;
}


.text-regular {
}

.text-medium {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-large {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-x-large {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-xx-large {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-huge {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

