<div class="widget-background">
    <div class="mb-2 ml-1 mr-1">
        <div class="container">
            <div class="row">
                <form class="login-form mr-3 ml-1 mb-0 mt-0 w-100">
                    <select class="form-control w-100">
                        <option [value]="chartKey"
                                [selected]="true">{{chartLabel}}</option>
                    </select>
                </form>
                <div class="col pl-0 pr-0 pb-1 pt-1">
                    <ng-container *ngIf="(appState$ | async) as appState">
                        <app-full-page-spinner *ngIf="appState.loading"></app-full-page-spinner>
                        <scrm-dropdown-button *ngIf="false" [config]="getDropdownConfig()"></scrm-dropdown-button>
                        <scrm-vertical-bar-chart *ngIf="type === 'bar' && dataSource"
                                                 [dataSource]="dataSource"></scrm-vertical-bar-chart>
                        <scrm-pie-grid-chart *ngIf="type === 'pie-grid' && dataSource"
                                             [dataSource]="dataSource"></scrm-pie-grid-chart>
                        <scrm-line-chart *ngIf="type === 'line' && dataSource"
                                         [dataSource]="dataSource"></scrm-line-chart>
                        <p *ngIf="!dataSource" class="lead text-center pt-3">Chart not found</p>
                    </ng-container>
                </div>
                <div class="donut-chart col-xs" *ngIf="false">
                    <div class="accordion">
                        <scrm-dropdown-button [config]="getTypeDropdownConfig()"></scrm-dropdown-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
