<!-- Start of main navbar section -->
<div class="top-panel fixed-top">

  <!-- Start of empty navbar section until data is loaded -->

  <ng-template [ngIf]="!loaded">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse collapse order-4 order-md-0 collapsenav">
        <ul class="navbar-nav">
          <li class="top-nav nav-item">&nbsp;
          </li>
        </ul>
      </div>
    </nav>
  </ng-template>

  <!-- End of empty  section until data is loaded -->

  <!-- Start of empty navbar with logo -->

  <ng-template [ngIf]="loaded">
    <ng-template [ngIf]="!navbar.authenticated">
      <nav class="navbar ml-0 pl-0">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="pl-0">
              <scrm-logo-ui></scrm-logo-ui>
            </li>
          </ul>
        </div>
      </nav>
    </ng-template>

    <!-- End of empty navbar section with logo -->

    <!-- Start of mobile navigation section -->

    <ng-template [ngIf]="mobileNavbar">
      <ul class="navbar mobile-nav-block mobilenavbar">
        <div class="position-static" ngbDropdown #myDrop="ngbDropdown" [autoClose]="false">
          <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" ngbDropdownToggle
                  class="navbar-toggler" type="button">
            <svg-icon class="responsive-menu-toggler" src="public/themes/suite8/images/hamburger.svg"></svg-icon>
          </button>
          <div class="mobile-nav-dropdown w-100" ngbDropdownMenu [@mobileNavFade]>
            <ng-template [ngIf]="backLink">
              <li ngbDropdownItem><a class="mobile-back-link" (click)="navBackLink($event)">< BACK</a></li>
            </ng-template>
            <ng-template [ngIf]="mainNavLink">
              <li class="" *ngFor="let item of navbar.menu" ngbDropdownItem>
                <a class="mobile-nav-link"
                >{{ item.link.label }}
                </a>
                <svg-icon class="sicon-xs mobile-nav-arrow" src="public/themes/suite8/images/arrow_right_filled.svg"
                          (click)="changeSubNav($event, item)"></svg-icon>
              </li>
            </ng-template>
            <ng-template [ngIf]="mobileSubNav">
              <li class="" *ngFor="let sub of submenu" ngbDropdownItem>
                <a class="mobile-nav-link action-link">
                  {{ sub.link.label }}
                </a>
                <ul *ngIf="sub.submenu.length" class="">
                  <li *ngFor="let subitem of sub.submenu" class="nav-item">
                    <a class="mobile-nav-link action-link" href="{{ subitem.link.url }}">
                      {{ subitem.link.label }}
                    </a>
                  </li>
                  <ng-template [ngIf]="sub.recentRecords.length">
                    <h4 class="recently-viewed-header">RECENTLY VIEWED</h4>
                    <li class="nav-item" *ngFor="let rec of sub.recentRecords">
                      <a class="mobile-nav-link action-link"
                         href="#/{{ rec.moduleName }}/{{ rec.itemId }}">{{ rec.itemSummary }}</a>
                    </li>
                  </ng-template>
                </ul>
              </li>
            </ng-template>

            <li>
              <a class="mobile-nav-link" (click)="myDrop.close()">
                <svg-icon class="sicon mobile-nav-close" src="public/themes/suite8/images/cross_purple.svg"></svg-icon>
                <span class="mobile-nav-close">Close menu</span>
              </a>
            </li>
          </div>
        </div>
        <div class="global-links" ngbDropdown>
          <li class="global-link-item">
            <a class="nav-link primary-global-link dropdown-toggle" ngbDropdownToggle>
              <svg-icon class="global-action-icon sicon-2x" src="public/themes/suite8/images/user.svg"></svg-icon>
              {{ navbar.currentUser.name }}
            </a>
            <div aria-labelledby="navbarDropdownMenuLink"
                 class="dropdown-menu global-links-dropdown" ngbDropdownMenu>
              <a class="dropdown-item global-links-sublink" ngbDropdownItem
                 href="#/Users/EditView/{{ navbar.currentUser.id }}">Profile</a>
              <ng-template [ngIf]="navbar.globalActions">
                <a class="dropdown-item global-links-sublink" ngbDropdownItem
                   *ngFor="let globalAction of navbar.globalActions"
                   target="{{ globalAction.link.target }}"
                   href="{{ globalAction.link.url }}">{{ globalAction.link.label }}
                </a>
              </ng-template>
              <scrm-logout-ui></scrm-logout-ui>
            </div>
          </li>
        </div>
      </ul>


    </ng-template>

    <!-- End of mobile navigation section-->

    <!-- Start of navbar section with data once authenticated -->

    <ng-template [ngIf]="navbar.authenticated && !mobileNavbar">
      <nav class="navbar navbar-expand-md navbar-1">
        <div class="navbar-collapse collapse collapsenav" [ngbCollapse]="mainNavCollapse">
          <ul class="navbar-nav home-nav">
            <li class="nav-item home-nav-link">
              <a class="home-nav-link" href="#/Home">
                <svg-icon class="home-icon" src="public/themes/suite8/images/home.svg"></svg-icon>
              </a>
            </li>
          </ul>

          <!-- Navbar with grouped tabs -->

          <ul *ngIf="navbar.useGroupTabs" class="navbar-nav grouped">
            <li class="top-nav nav-item dropdown main-grouped" *ngFor="let item of navbar.menu">
              <span data-toggle="collapse" data-target=".navbar-collapse">
                 <a class="nav-link-grouped dropdown-toggle" data-toggle="dropdown" href="{{ item.link.url }}">
                   {{ item.link.label }}
                 </a>
               </span>
              <ul class="dropdown-menu main" aria-labelledby="navbarDropdownMenuLink" [ngbCollapse]="subNavCollapse">
                <li class="nav-item dropdown-submenu submenu" *ngFor="let sub of item.submenu">
                  <a class="nav-link action-link dropdown-item dropdown-toggle"
                     (click)="subItemCollapse = !subItemCollapse">
                    {{ sub.link.label }}
                  </a>
                  <ul *ngIf="sub.submenu.length" class="dropdown-menu submenu">
                    <li *ngFor="let subitem of sub.submenu" class="nav-item">
                      <a class="nav-link action-link" href="{{ subitem.link.url }}">
                        <svg-icon src="{{ subitem.link.iconRef.resolved }}.svg">
                        </svg-icon>
                        {{ subitem.link.label }}
                      </a>
                    </li>
                    <ng-template [ngIf]="sub.recentRecords.length">
                      <h4 class="recently-viewed-header">RECENTLY VIEWED</h4>
                      <li class="nav-item" *ngFor="let rec of sub.recentRecords">
                        <a class="nav-link action-link"
                           href="#/{{ rec.moduleName }}/{{ rec.itemId }}">{{ rec.itemSummary }}</a>
                      </li>
                    </ng-template>
                  </ul>
                </li>
              </ul>
              <ng-template [ngIf]="item.recentRecords && item.recentRecords.length">
                <h4 class="recently-viewed-header">RECENTLY VIEWED</h4>
            <li *ngFor="let recentRecord of item.recentRecords" class="nav-item">
              <a class="nav-link action-link" href="#">{{ recentRecord.itemSummary }}</a>
            </li>
    </ng-template>
    </li>
    </ul>

    <!-- Navbar with non-grouped tabs -->

    <ul *ngIf="!navbar.useGroupTabs" class="navbar-nav">
      <li class="top-nav nav-item dropdown non-grouped" *ngFor="let item of navbar.all.modules">

        <!-- TODO: Implement a cleaner solution than hard coded ngIf -->

        <ng-template [ngIf]="item.link.label !== 'Home'">
                             <span data-toggle="collapse" data-target=".navbar-collapse">
                             <a class="nav-link-nongrouped dropdown-toggle"
                                href="{{ item.link.url }}">{{ item.link.label }}
                             </a>
                             </span>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu submenu">
      <li class="nav-item" *ngFor="let sub of item.submenu">
        <a class="nav-link action-link" href="{{ sub.link.url }}">
          <svg-icon src="{{ sub.link.iconRef.resolved }}.svg"></svg-icon>
          {{ sub.link.label }}
        </a>
      </li>
      <ng-template [ngIf]="item.recentRecords && item.recentRecords.length">
        <h4 class="recently-viewed-header">RECENTLY VIEWED</h4>
        <li *ngFor="let recentRecord of item.recentRecords" class="nav-item">
          <a class="nav-link action-link" href="#">{{ recentRecord.itemSummary }}</a>
        </li>
      </ng-template>
</div>
</ng-template>
</li>
</ul>
<ul *ngIf="!navbar.useGroupTabs" class="navbar-nav">
  <li class="top-nav nav-item dropdown non-grouped">
    <a class="nav-link-nongrouped dropdown-toggle">More</a>
    <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu more-menu submenu">
  <li class="nav-item" *ngFor="let item of navbar.all.modules">
    <a class="nav-link action-link" href="{{ item.link.url }}">{{ item.link.label }}</a>
  </li>
  <li class="nav-item" *ngFor="let item of navbar.all.extra">
    <a class="nav-link action-link" href="{{ item.link.url }}">{{ item.link.label }}</a>
  </li>
  </div>
  </li>
</ul>
</div>
<div class="global-links" ngbDropdown>
  <ul class="navbar-nav">
    <li class="global-link-item">
      <a class="nav-link primary-global-link dropdown-toggle" ngbDropdownToggle>
        <svg-icon class="global-action-icon sicon-2x" src="public/themes/suite8/images/user.svg"></svg-icon>
        {{ navbar.currentUser.name }}
      </a>
      <div aria-labelledby="navbarDropdownMenuLink"
           class="dropdown-menu global-links-dropdown dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item global-links-sublink" ngbDropdownItem
           href="#/Users/EditView/{{ navbar.currentUser.id }}">Profile</a>
        <ng-template [ngIf]="navbar.globalActions">
          <a class="dropdown-item global-links-sublink" ngbDropdownItem
             *ngFor="let globalAction of navbar.globalActions"
             target="{{ globalAction.link.target }}"
             href="{{ globalAction.link.url }}">{{ globalAction.link.label }}
          </a>
        </ng-template>
        <scrm-logout-ui></scrm-logout-ui>
      </div>
    </li>
  </ul>
</div>
</nav>

<!-- End of navbar section with data once authenticated -->

<scrm-action-bar-ui></scrm-action-bar-ui>
</ng-template>
</ng-template>
</div>

<!-- End of main navbar section -->