<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/public/legacy/include/social/facebook/facebook_sdk/tests" />
      </list>
    </option>
  </component>
</project>